{% extends "store/base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "store/css/tambah_penjual.css" %}">
{% endblock app_css %}

{% block content %}
	<div class="container" style="min-height: 80.5vh;">
		<div class="tambah_penjual_form">
			<form method="post">
				#
				#
				<button class="btn waves-effect waves-light submit-button" type="submit" name="action">Submit
	    			<i class="material-icons right">send</i>
	  			</button>
			</form>
		</div>

	</div>
	
{% endblock content %}

<!-- To Do :
	1. get form from views.py, don't forget to add csrf toket for security