{% extends "store/base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "store/css/tambah_barang.css" %}">
{% endblock app_css %}

{% block content %}
	<div class="container" style="min-height: 80.5vh;">
		<div class="tambah_barang_form">

			<!-- To Do : Tampilkan form untuk tambah barang -->


		</div>

	</div>
	
{% endblock content %}

{% block app_js %}
	<script type="text/javascript" src="{% static "store/js/tambah_barang.js" %}"></script>
{% endblock app_js %}